/*    Case Study – Base */

.case-study {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  color: white;
 }


.case-study .container {  
  margin: 0 auto;
  min-height: 32vh;
}

.case-study .back-link { }

.case-study h1 { }

.case-study .lede { }

.case-meta { }

.case-meta li { }

.case-hero { }

.case-hero img { }


/* Challenge */

.case-challenge { }

.case-challenge .container {  
  margin: 0 auto;
  min-height: 32vh;
}

.case-challenge h2 { }

.case-challenge p { }


/*Solution */

.case-solution { }

.case-solution .container {  
  margin: 0 auto;
  min-height: 32vh;
}

.case-solution h2 { }

.case-solution p { }


/* Outcome*/

.case-outcome { }

.case-outcome .container {  
  margin: 0 auto;
  min-height: 32vh;
}

.case-outcome h2 { }

.case-outcome p { }
